{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title%}
  Please Login
{% endblock title%}

{% block content %}
  {% if form.errors %}
    <p class="text-warning">Your username and password didn't match.</p>
  {% endif %}
  <form role="form" class="form-horizontal" method="post" action="{% url 'boardgames_login' %}">
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-primary" type="submit" value="Login">
    <input type="hidden" name="next" value="{{next}}">
  </form>
{% endblock content %}
